<div class="cta-form-container container">
  <hr/>
  <form class="cta-form" name="cta-form" action="submit" netlify netlify-honeypot="bot-field">
    <h2 class="cta-heading">Start a Project with Rockhopper Digital</h2>

    <div class="hidden"><label>Bot field: <input name="bot-field"></label></div>

    <div class="cta-form-group">
      <small>What’s your name?</small>
		  <input required type="text" name="name">
    </div>

    <div class="cta-form-group">
      <small>What’s your email address?</small>
      <input required type="email" name="email">
    </div>

    <div class="cta-form-group">
      <small>Tell me about your project</small>
		  <textarea required name="tell_me_about_your_project"></textarea>
    </div>

    <div class="cta-button-container">
      <button class="cta-button">Submit</button>
    </div>
  </form>
</div>
