<div class="cta-form-container container">
  <form class="cta-form" name="cta-form" action="submit" netlify netlify-honeypot="bot-field">
    <h2 class="cta-heading">Start a Project with Rockhopper Digital</h2>

    <div class="hidden"><label>Bot field: <input name="bot-field"></label></div>

    <div class="cta-flex-group">
      <small>What’s your name?</small>
		  <input type="text" name="name">
    </div>

    <div class="cta-flex-group">
      <small>What’s your email address?</small>
      <input type="email" name="email">
    </div>

    <div class="cta-flex-group">
      <small>Tell me about your project</small>
		  <textarea name="tell_me_about_your_project"></textarea>
    </div>

    <div class="cta-flex-group">
      <small>What’s your monthly budget?</small>
      <select name="monthly_budget">
        <option class="lining-figures" value="1K-5K">$1K&hairsp;–&hairsp;$5K</option>
        <option class="lining-figures" value="5K-10K">$5K&hairsp;–&hairsp;$10K</option>
        <option class="lining-figures" value="10K+">$10K&hairsp;+</option>
      </select>
    </div>

    <div class="cta-button-container">
      <button class="cta-button">Submit</button>
    </div>
  </form>
</div>
