<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Rockhopper Digital | Concrete Lessons in Software and Product Development</title>
    <meta content='Rockhopper Digital creates user-friendly websites and applications that work cross-browser and cross-device.' name='description'>
    <meta content='width=device-width' name='viewport'>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="https://use.typekit.net/txp3xpv.js"></script>
    <script>try{Typekit.load({async: false});}catch(e){}</script>
    <link href="/img/favicon.png" rel="icon" type="image/png" />
  </head>
  <body>
    <header class="main">
      <div class="line"></div>
      <a class="logo h3" href="/"><figure>
        <img src="/img/logo.png">
        <div class="squares">
          <div class="square red"></div>
          <div class="square blue"></div>
          <div class="square pink"></div>
        </div>
      </figure>
      </a>
      <div class="line"></div>
    </header>
