{{ partial "document-head" }}
<header class="single" >
  {{ partial "nav" }}
</header>
<div class="container hero-container">
  <h1>
    {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}
  </h1>
  <small class="sub-header">
    {{ .Params.subtitle }}
  </small>
</div>
<main>
  <section>
    <div class="container content-container">
      <p class="lede">
        {{ .Params.lede }}
      </p>

      {{ .Content }}
    </div>
  </section>
</main>
{{ partial "footer" . }}
