@import 'imports/reset.css';
@import 'variables.css';
@import 'typography.css';

.hidden {
  display: none;
}

.wf-loading {
  & ul, & main {
    visibility: hidden;
  }
}

body {
  background: var(--cream-300);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;

  & a {
    color: var(--pink-100);
  }
}

.container {
  margin: 2.25rem auto;
  max-width: 84%;
  width: var(--content-width);

  @media (--small-viewport) {
    margin: 1.5rem auto;
    width: 84%;
  }
}

header {
  & .container {
    margin: 2.25rem auto 1rem;
  }

  & nav {
    font-family: var(--rockhopper-sans);
    margin: 0 auto;

    & .container {
      display: flex;
      margin-top: 0;
    }

    & .container ul {
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }

    @media(--medium-viewport) {
      & .container {
        height: 44px;
        position: relative;
      }

      & .container ul {
        margin: 0;
        position: absolute;
        right: 0;
      }
    }
  }

  &.home {
    @media(--medium-viewport) {
      & .container ul {
        margin: 0 auto;
        position: relative;
      }
    }
  }
}

.nav-icon {
  display: none;
  position: absolute;

  & img {
    height: 44px;
    width: 44px;
  }
}

.single {
  & .nav-icon {
    display: block;

    &:hover {
      border: none;
      box-shadow: none;
    }
  }
}

.hero-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 126px;
  justify-content: flex-end;
  margin-bottom: 16px;

  &.logo-container {
    align-items: center;
    height: 164px;
  }

  & h1 {
    margin-bottom: 0.5rem;
  }

  @media(--small-viewport) {
    height: 84px;
  }
}

.logo {
  border: 0;
  box-shadow: none;
  height: auto;
  text-decoration: none;
  width: 100px;

  &:hover {
    background: transparent;
    border: 0;
    box-shadow: none;
  }

  &:focus {
    outline: 0;
    outline-offset: 0;
  }

  & img {
    height: auto;
    user-select: none;
  }
}

nav {
  background: rgba(var(--cream-200), 0.5);
  height: 44px;
  line-height: 44px;
  top: 0;
  width: 100%;
  z-index: 1000;

  & ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  & li {
    padding: 0 .25rem;
  }

  & a {
    color: var(--cream-025);
    font-size: 22px;

    &:focus {
      outline: 0;
      outline-offset: 0;
    }

    @media (--small-viewport) {
      font-size: 17px;
    }
  }
}

.content-container {
  margin-top: 1rem;
}

.article-list {
  margin-top: 15px;
}

.list-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  & h2 {
    margin: 0.5rem 0;
  }
}

button, .button {
  appearance: none;
  background-color: var(--pink-300);
  border: 0;
  border-radius: 2px;
  color: var(--cream-300);
  cursor: pointer;
  display: inline-block;
  font-family: var(--rockhopper-sans);
  font-size: 19px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  padding: 16px 38px;
  text-align: center;
  text-decoration: none;
  transition: background var(--base-duration) var(--base-timing);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: var(--pink-200);
    color: var(--cream-300);
  }

  &:focus {
    outline: 0;
    outline-offset: 0;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

.cta-form-container {
  & small {
    display: inline;
  }

  & input {
    display: block;
  }

  & select {
    margin-left: 8px;

    @media (--small-viewport) {
      margin-left: 0;
      width: 100%;
    }
  }
}

.cta-form-group {
  margin-bottom: 1.25rem;

  & input, & textarea {
    background: var(--gray-700);
    border: 1px solid var(--gray-500);
    border-radius: 2px;
    box-sizing: border-box;
    outline: none;
    padding: 4px 8px;
    transition: background var(--base-duration) var(--base-timing);
    width: 100%;

    &:focus {
      background: white;
      outline: 0;
      outline-offset: 0;
    }
  }
}

.cta-button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 2.25rem;
}

.not-found p {
  text-align: center;
}

footer {
  background: rgba(var(--cream-200), 0.5);
  color: var(--cream-025);
  display: flex;
  margin: 4.5rem auto 0;
  width: 100%;

  & .container {
    display: flex;
    justify-content: center;
  }

  & small {
    font-family: var(--rockhopper-sans);
    font-size: 13px;
    font-style: normal;
  }
}
