@import 'imports/reset.css';
@import 'variables.css';
@import 'typography.css';

.hidden {
  display: none;
}

.wf-loading main, .wf-loading footer {
  visibility: hidden;
}

body {
  background: var(--cream-300);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
  margin: 2.25rem auto;
  max-width: 84%;
  width: var(--content-width);

  @media (--small-viewport) {
    margin: 1.5rem auto;
    width: 84%;
  }
}

.logo {
  border: 0;
  box-shadow: none;
  outline: 0;
  outline-offset: 0;
  text-decoration: none;

  &:hover {
    background: transparent;
  }

  & img {
    height: 104pt;
    user-select: none;

    @media (--small-viewport) {
      height: 96pt
    }
  }

  & span {
    display: inline-block;
    user-select: none
  }
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;

  & li {
    display: flex;
  }

  & p {
    display: inline;
  }
}

blockquote, q {
  quotes: "“" "”" "‘" "’";

  &:before, &:after {
    color: var(--pink-300);
  }

  &:before {
    content: open-quote;
  }

  & p {
    display: inline;
  }

  &:after {
    content: close-quote;
  }
}

blockquote {
  font-weight: bold;
}

.dot {
  color: var(--pink-300);
}

button, .button {
  appearance: none;
  background-color: var(--pink-300);
  border: 0;
  border-radius: 2px;
  color: var(--cream-300);
  cursor: pointer;
  display: inline-block;
  font-family: var(--rockhopper-sans);
  font-size: 19px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  padding: 16px 38px;
  text-align: center;
  text-decoration: none;
  transition: background var(--base-duration) var(--base-timing);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: var(--pink-200);
    color: var(--cream-300);
  }

  &:focus {
    outline: 0;
    outline-offset: 0;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

.cta-form-container {
  & small {
    display: inline;
  }

  & input {
    display: block;
  }

  & select {
    margin-left: 8px;

    @media (--small-viewport) {
      margin-left: 0;
      width: 100%;
    }
  }
}

.cta-form-group {
  margin-bottom: 1.25rem;

  & input, & textarea, & select {
    background: var(--gray-700);
    border: 1px solid var(--gray-500);
    border-radius: 2px;
    box-sizing: border-box;
    outline: none;
    padding: 4px 8px;
    transition: background var(--base-duration) var(--base-timing);
    width: 100%;

    &:focus {
      background: white;
      outline: 0;
      outline-offset: 0;
    }
  }
}

.cta-button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 2.25rem;
}

footer.container {
  display: flex;
  margin: 4.5rem auto 2.25rem;

  & small {
    font-family: var(--rockhopper-sans);
    font-size: 13px;
    font-style: normal;
  }
}
