:root {
  --rockhopper-serif: 'freight-text-pro', serif;
  --rockhopper-sans: 'freight-sans-pro', sans-serif;
  --rockhopper-mono: 'anonymous-pro', monospace;

  --cream-025: #aba89e;
  --cream-050: #bbb8b0;
  --cream-100: #dddad2;
  --cream-200: #eeebe3;
  --cream-250: #f6f3eb;
  --cream-300: #fffcf4;

  --red-100: #2d0e11;
  --red-200: #3a1216;
  --red-300: #47161b;
  --red-500: #541a20;
  --red-600: #6e222a;

  --pink-100: #d11167;
  --pink-200: #e0136f;
  --pink-300: #ed2880;
  --pink-500: #fef4f8;

  --green-100: #1a352d;
  --green-300: #1aa748;

  --blue-300: #36b6be;

  --gray-200: #424c52;
  --gray-300: #6f818b;
  --gray-400: #cdd3d7;
  --gray-500: #e9ecee;
  --gray-600: #f3f4f5;
  --gray-700: #fcfcfd;

  --light-gray-100: #ddd;
  --light-gray-200: #e4e4e4;
  --light-gray-300: #f0f0f0;
  --light-gray-400: #f5f5f5;
  --light-gray-500: #fafafa;

  --font-color: var(--red-200);

  --link-color: var(--font-color);
  --link-visited-color: var(--font-color);

  --content-width: 700px;

  --base-duration: 300ms;
  --base-timing: ease;

  @custom-media --small-viewport (max-width: 480px);
  @custom-media --medium-viewport (max-width: 768px);
}
