:root {
  --rockhopper-serif: 'ff-meta-serif-web-pro', serif;
  --rockhopper-sans: 'ff-meta-web-pro', sans-serif;
  --rockhopper-mono: 'fira-mono', monospace;

  --black-100: #000;
  --black-200: #1f1f1f;
  --white-100: #fff;
  --red-100: #2d0e11;
  --red-200: #3a1216;
  --pink-300: #ed2880;
  --green-100: #1a352d;
  --green-300: #1aa748;
  --blue-300: #36b6be;

  --gray-100: #3d3e44;
  --gray-300: #c0c0c0;

  --light-gray-100: #ddd;
  --light-gray-200: #e4e4e4;
  --light-gray-300: #f0f0f0;

  --font-color: var(--gray-100);

  --link-color: var(--font-color);
  --link-hover-color: var(--green-300);
  --link-visited-color: var(--font-color);

  --selected-font-color: var(--white-100);
  --selected-background-color: var(--green-300);

  --content-width: 580px;
  @custom-media --small-viewport (max-width: 640px);
}
